
.home-return {
    padding: 80px;
}

.home-return .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-return .info .main-title {
    color: #48957C;
    font-size: 100px;
    font-weight: 600;
    margin-top: 80px;
}

.home-return .info p {
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 20px;
}
@media (max-width: 968px) {
    .home-return .info .main-title {
        font-size: 60px;
    }
    .home-return .info p {
    font-size: 16px;
    text-align: center;
    }
}
@media (max-width: 685px) {
.home-return .info .main-title {
    font-size: 22px;
    margin-bottom: 25px;
    }

    .home-return .info p {
        font-size: 14px;
    }
}
@media (max-width: 436px) {
.home-return .info .main-title {
    font-size: 15px;
    margin-bottom: 25px;
    }
    .home-return .info p {
    font-size: 12px;
    }
}

.home-return .info a {
    color: #3e7960 !important;
    padding: 15px 25px;
    font-size: 16px;
    margin-bottom: 100px;
}
.home-return .info button:hover {
    background: #6ad1af ;
}

